<style> 

  <body>
    {
    font-family: 'Roboto', sans-serif;

    border: 1px solid red;
    min-height: 100vh;
    margin: 0; padding: 0;

    }
  
  </body>
  * {
  box-sizing: border-box;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

</style>